.circle-div::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #ffedd5b3;
  z-index: -30;
  padding: 26%;
}
.circle-div::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #fed7aa9d;
  z-index: -20;
  padding: 20%;
}
